/*URL font*/

@import url('https://fonts.googleapis.com/css2?family=Anton&family=Ubuntu:wght@300;400&display=swap');


*{
 margin: 0;
 padding: 0;
 font-family: 'Ubuntu', sans-serif   
}

.content{
    width: 1200px;
    margin: 0 auto;
    padding: 20px 0;
}

.clearfix{
    clear: both;
    float: none;
}

/*HEADER*/

header{
    width: 100%;
    background: #2eb89b;
    height: 90px;
}

header img{
    float: left;
    height: 80%;
    width: auto;
}

/*MENU*/

nav {
    float: right;
}

nav a{
    padding: 10px 20px;
    color: white;
    text-decoration: none;
    line-height: 50px;
    font-weight: bold;
    border-radius: 5px;
    transition: all 1s;
}

nav a:hover{
    background: white;
    color: #2eb89b;
}

/*IMAGEN*/

.half {
    width: 50%;
    float: left;
    text-align: center;
}

.half img{
    width: 100%;
    height: auto;
}

.half h1{
    margin-top: 100px;
    line-height: 40px;
  
}

/*Sobre Nosotros*/

.nosotros{
    width: 100%;
    background:   #bbd8b3;
    padding: 70px 0;
    text-align: center;
    font-family: 'Ubuntu', sans-serif;


    margin: 100px auto;
}

.nosotros h1{
    line-height: 50px;
    font-family: 'Ubuntu', sans-serif; 

}

.nosotros h3{
    line-height: 50px;
    font-family: 'Ubuntu', sans-serif; 

}

.nosotros p{
    line-height: 30px;
    font-family: 'Ubuntu', sans-serif; 
}


/*Footer*/

footer{
    width: 100%;
    background: #d7d7d7;
    padding: 20px 0;
    text-align: center;

}

.footer-content{
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;
    text-align: center;
 
}

.footer-content h3{
    font-size: 1.2rem;
    font-family: 'Ubuntu', sans-serif; 

}

.footer-content p{
margin: 10px auto;
font-size: 14px;
font-family: 'Ubuntu', sans-serif; 

}

.socials{
    list-style: none;
    display: flex;
    align-items: center;
    justify-content: center;
}

.socials li{
    margin: 0 10px;
}

/*Clase icono acceso*/

.icono{
    color:white;
    font-size: 20px;
}